<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido al Sistema</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style_welcome.css') }}">
</head>
<body>
<header>
    <h1>Bienvenido al Sistema</h1>
    <nav>
        <ul>
            <li><a href="index.html">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="wrapper">
        <nav class="sidebar">
            <ul>
                <li><a href="#">Selección y Contratación</a></li>
                <li><a href="#">Afiliaciones Seguridad Social</a></li>
                <li><a href="#">Liquidación de Nomina</a></li>
                <li><a href="#">Liquidación definitiva de contratos</a></li>
                <li><a href="#">Liquidación planilla de aportes a seguridad social</a></li>
                <li><a href="#">Retiro de personal</a></li>
                <li><a href="#">Certificaciones laborales</a></li>
                <li><a href="#">Inducción, Re inducción y entrenamiento</a></li>
                <li><a href="#">Capacitación</a></li>
                <li><a href="#">Evaluación de desempeño</a></li>
            </ul>
        </nav>
        <article>
            <h2>Contenido principal</h2>
            <p>Aquí iría el contenido principal de la página</p>
        </article>
    </section>
</main>
<footer>
    <p>Derechos reservados © 2023</p>
</footer>
</body>
</html>
