/* Estilos generales */


h2 {
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilos específicos para la página */

button {
    background-color: #333;
    color: white;
}

