<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Selección y Contratación</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='style_sc.css') }}">
</head>
<body>
<main>
        <article>
            <h2>Selección y Contratación</h2>
            <p>Se recibe requerimiento por parte de la gerencia. Se realiza análisis de los perfiles de acuerdo a la solicitud y después de definido se sube a los portales de empleo.</p>
            <p>Se reciben las solicitudes y se realiza una preselección de los candidatos donde se hace una entrevista inicial como primer filtro, y a los preseleccionados se les llama a una entrevista con la gerencia, de ser necesario se realizará la entrevista con el líder del proceso directamente involucrado.</p>
            <p>Se realizan pruebas psicotécnicas con apoyo de la psicóloga encargada, se envían resultados por correo electrónico y estos se comparten con gerencia y líder del proceso para la toma de decisiones.</p>
            <p>Se realizan llamadas para la verificación de referencias laborales.</p>
            <p>Se realiza verificación consulta de antecedentes judiciales y de la procuraduría.</p>
            <p>Se define si el ingreso se hace directo por la empresa o si se realiza por empresa temporal MISION PLUS.</p>
            <p>De elegirse que el colaborador nuevo ingrese por la Temporal, se envía correo electrónico a la persona encargada de esta entidad, notificándoles: Datos personales, fecha de ingreso, salario, cargo y demás especificaciones necesarias para la contratación, ellos se encargan del resto del proceso.</p>
            <p>En caso de que colaborador ingrese directo por la empresa se continúa con el procedimiento.</p>
            
            <h3>Documentación solicitada al candidato:</h3>
            <ul>
                <li>3 fotocopias de cédula ampliada al 150%</li>
                <li>Libreta militar (Si aplica)</li>
                <li>Hoja de vida actualizada</li>
                <li>Certificados de Educación</li>
                <li>Certificados de formación (cursos, talleres, seminarios, entre otros)</li>
                <li>Cartas de experiencia laboral</li>
                <li>Certificado de EPS</li>
                <li>Certificado de Pensión</li>
                <li>Documentos de beneficiarios (Si aplica)</li>
                <input type="file" name="archivos" id="archivos" multiple>
            </ul>
            
            <p>Al momento que el candidato entrega los documentos, se le entrega una orden de examen médico ocupacional, la cual debe ser programada con anterioridad.</p>
            
            <h3>Cita Examen médico Ocupacional:</h3>
            <ul>
                <li>Se envía un correo electrónico al proveedor de exámenes ocupacionales y ellos responden la hora y fecha.</li>
                <li>Después de recibidos los resultados, y confirmar que este candidato sea apto, se archivan en su hoja de vida.</li>
            </ul>
            
            <h3>Contrato:</h3>
            <ul>
                <li>Se elabora contrato de acuerdo a las especificaciones del cargo y observaciones de la gerencia.</li>
                <li>Se organizan todos los documentos y se archivan junto con el contrato en la hoja de vida del colaborador.</li>
            </ul>
        </article>
    </section>
</main>
</body>
</html>
